@keyframes moveLeft {
  0% {
    transform: translateX(100vw); /* Start from right */
  }
  100% {
    transform: translateX(0); /* End in the center */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Fully visible */
  }
  100% {
    opacity: 0; /* Fully invisible */
  }
}

.animate-moveLeft {
  animation: moveLeft 2s ease-in-out forwards; /* Move in 2 seconds */
}

.animate-fadeOut {
  animation: fadeOut 1s ease-in-out 3s forwards; /* Fade out after 3 seconds */
}







.custom-dots li button:before {
    font-size: 12px;
    color: #888; /* لون النقاط غير النشطة */
  }
  
  .custom-dots li.slick-active button:before {
    color: #fdb800; /* لون النقاط النشطة */
  }

  /* CSS to customize the scrollbar */
.modal-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: #fdb800; /* Background color of the scrollbar track */
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: #282828; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid #fdb800; /* Border around the thumb */
}
@font-face {
  font-family: 'GraphikArabic-Bold';
  src: url('../src/assets/fonts/GraphikArabic-Bold.woff2') format('woff2');
      
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GraphikArabic-Black';
  src: url('../src/assets/fonts/GraphikArabic-Black.woff2') format('woff2');
      
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GraphikArabic-Medium';
  src: url('../src/assets/fonts/GraphikArabic-Medium.woff2') format('woff2');
      
  font-weight: normal;
  font-style: normal;
}






